---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag animated-rainbow-hover">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<div class="post-footer">
  <div class="prev-post">{%- if previousPost %}&#9194; <a class="animated-rainbow-hover" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
  <div class="next-post">{%- if nextPost %}<a class="animated-rainbow-hover" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a> &#9193;{% endif %}</div>
</div>
{%- endif %}
{%- endif %}
