---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<div class="post-meta">
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  <span>{{ content | readingTime }} min read</span>
  {% if updated %}<span>Updated <time datetime="{{ updated | htmlDateString }}">{{ updated | readableDate }}</time></span>{% endif %}
</div>
{%- for tag in tags | filterTagList -%}
{%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
<a href="{{ tagUrl | url }}" class="post-tag animated-rainbow-hover">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<nav class="post-footer" aria-label="Post navigation">
  <div class="prev-post">{%- if previousPost %}<span>⏪ Previous</span><a class="animated-rainbow-hover" rel="prev" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
  <div class="next-post">{%- if nextPost %}<span>Next ⏩</span><a class="animated-rainbow-hover" rel="next" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>{% endif %}</div>
</nav>
{%- endif %}
{%- endif %}
